<ion-header>
  <ion-toolbar>
    <ion-title>FluxVideo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <!--ion-card *ngFor="let publication of this.compteService.Mes_Publication;let indexOfelement=index;"-->
      <div class="flex-content">
                                  
        <!--video [hidden]='!publication.etiquete_video' controls src="{{ publication.Video }}"  > </video-->


        <img  id="photo-fullscreen"   src="../../assets/icon/jp_1.jpg" />  

      </div>

   
   <!--ion-button shape="full" (click)="maVideo()">
    
          <ion-icon name="paper-plane"></ion-icon>
    
    </ion-button-->


</ion-content>