<ion-header>
  <ion-toolbar>
    <ion-title  align="center" color="danger"><b> Sex_Educ</b></ion-title>

  </ion-toolbar>


</ion-header>

<ion-content class="gere-color">
	
	<ion-app>

    <ion-content fullscreen class="ion-padding" scroll-y="false">

    <ion-slides pager="true" autoHeight="true" >
            	
            		 <ion-slide #slideRef >
            		 	<ion-img src="../../assets/icon/Fond_ecran.jpg"></ion-img>	

            				<ion-item > 
			      					<ion-label color="tertiary" position="floating">Age </ion-label>
			       <ion-select ok-text="Okay" cancel-text="Non" name="Age"  [(ngModel)]="Age" (ionChange)="updateTypeCompte()">
			            <ion-select-option value="14">14</ion-select-option>
			            <ion-select-option value="15">15</ion-select-option>
			            <ion-select-option value="16">16</ion-select-option>
			            <ion-select-option value="17">17</ion-select-option>
			            <ion-select-option value="18">18</ion-select-option>
			            <ion-select-option value="19">19</ion-select-option>
			            <ion-select-option value="20">20</ion-select-option>
			            <ion-select-option value="21">21</ion-select-option>
			            <ion-select-option value="22">22</ion-select-option>
			            <ion-select-option value="23">23</ion-select-option>
			            <ion-select-option value="24">24</ion-select-option>
			            <ion-select-option value="25">25</ion-select-option>
			            <ion-select-option value="26">26</ion-select-option>
			            <ion-select-option value="27">27</ion-select-option>
			            <ion-select-option value="28">28</ion-select-option>
			            <ion-select-option value="29">29</ion-select-option>
			            <ion-select-option value="30">30</ion-select-option>
			            <ion-select-option value="31">31</ion-select-option>
			            <ion-select-option value="32">32</ion-select-option>
			            <ion-select-option value="33">33</ion-select-option>
			            <ion-select-option value="34">34</ion-select-option>
			            <ion-select-option value="35">35</ion-select-option>
			            <ion-select-option value="36">36</ion-select-option>
			            <ion-select-option value="37">37</ion-select-option>
			            <ion-select-option value="38">38</ion-select-option>
			            <ion-select-option value="39">39</ion-select-option>
			            <ion-select-option value="40">40</ion-select-option>
			            <ion-select-option value="41">41</ion-select-option>
			            <ion-select-option value="42">42</ion-select-option>
			            <ion-select-option value="43">43</ion-select-option>
			            <ion-select-option value="44">44</ion-select-option>
			            <ion-select-option value="45">45</ion-select-option>
			            <ion-select-option value="46">46</ion-select-option>
			            <ion-select-option value="47">47</ion-select-option>
			            <ion-select-option value="48">48</ion-select-option>
			            <ion-select-option value="49">49</ion-select-option>
			            <ion-select-option value="50">50</ion-select-option>
			            <ion-select-option value="51">51</ion-select-option>
			            <ion-select-option value="52">52</ion-select-option>
			            <ion-select-option value="53">53</ion-select-option>
			            <ion-select-option value="54">54</ion-select-option>
			            <ion-select-option value="55">55</ion-select-option>
			            <ion-select-option value="56">56</ion-select-option>
			            <ion-select-option value="57">57</ion-select-option>
			            <ion-select-option value="58">58</ion-select-option>
			            <ion-select-option value="59">59</ion-select-option>
			            <ion-select-option value="60">60</ion-select-option>
			            <ion-select-option value="61">61</ion-select-option>
			            <ion-select-option value="62">62</ion-select-option>
			            <ion-select-option value="63">63</ion-select-option>
			            <ion-select-option value="65">64</ion-select-option>
			            <ion-select-option value="65">65</ion-select-option>
			            <ion-select-option value="66">66</ion-select-option>
			            <ion-select-option value="67">67</ion-select-option>
			            <ion-select-option value="68">68</ion-select-option>
			            <ion-select-option value="69">69</ion-select-option>
			            <ion-select-option value="70">70</ion-select-option>
			            <ion-select-option value="71">71</ion-select-option>
			            <ion-select-option value="72">72</ion-select-option>
			            <ion-select-option value="73">73</ion-select-option>
			            <ion-select-option value="74">74</ion-select-option>
			            <ion-select-option value="75">75</ion-select-option>
			            <ion-select-option value="76">76</ion-select-option>
			            <ion-select-option value="77">77</ion-select-option>
			            <ion-select-option value="78">78</ion-select-option>
			            <ion-select-option value="79">79</ion-select-option>
			            <ion-select-option value="80">80</ion-select-option>
			            <ion-select-option value="81">81</ion-select-option>
			            <ion-select-option value="82">82</ion-select-option>
			            <ion-select-option value="83">83</ion-select-option>
			            <ion-select-option value="84">84</ion-select-option>
			            <ion-select-option value="85">85</ion-select-option>
			            <ion-select-option value="86">86</ion-select-option>
			            <ion-select-option value="87">87</ion-select-option>
			            <ion-select-option value="88">88</ion-select-option>
			            <ion-select-option value="89">89</ion-select-option>
			            <ion-select-option value="90">90</ion-select-option>
			            <ion-select-option value="91">91</ion-select-option>
			            <ion-select-option value="92">92</ion-select-option>
			            <ion-select-option value="93">93</ion-select-option>
			            
			       </ion-select>
    			</ion-item>
    			<ion-item > 
					      <ion-label color="tertiary" position="floating">Choisisez votre type de compte </ion-label>
					       <ion-select ok-text="Okay" cancel-text="Non" name="Type_Compte" [(ngModel)]="Type_Compte" (ionChange)="updateTypeCompte()">
					            <ion-select-option value=0>Compte simple</ion-select-option>
					            <ion-select-option value=1>Compte Pro</ion-select-option>
					       </ion-select>
			    </ion-item>
			    <ion-item >
			          <ion-label color="tertiary" position="floating">Pays</ion-label>
			          <ion-select interface="popover" [(ngModel)]="Pays" name="Pays">
			            <ion-select-option value=244>Angola</ion-select-option>
			            <ion-select-option value=61>Australie</ion-select-option>
			            <ion-select-option value=1246>Barbade</ion-select-option>
			            <ion-select-option value=32>Belgique</ion-select-option>
			            <ion-select-option value=229>Benin</ion-select-option>
			            <ion-select-option value=33>France</ion-select-option>
			          </ion-select>			          

        	</ion-item>
			    
        	<ion-item >
        				<ion-label color="tertiary" position="floating">Numero de téléphone </ion-label>
					      <ion-input  placeholder="06..." type="number" [(ngModel)]="Tel" name="Tl"></ion-input>
        	</ion-item>

        	
        		   </ion-slide>

        		     <ion-slide *ngIf="ProOuPas" >
       
			          <ion-img src="../../assets/icon/Fond_ecran.jpg"></ion-img>	

			          
						    <ion-item > 
						      <ion-label color="tertiary" position="floating">Votre Nom (Le Vrai) </ion-label>
						      <ion-input  type="text" [(ngModel)]="Nom_User" name="Nom_User"></ion-input>
						    </ion-item>
						    <ion-item > 
						      <ion-label color="tertiary" position="floating">Votre Prénom (Le Vrai) </ion-label>
						      <ion-input  type="text" [(ngModel)]="Prenom" name="Prenom" ></ion-input>
						    </ion-item>
						    <ion-item > 
						      <ion-label color="tertiary" position="floating">Adresse mail  </ion-label>
						      <ion-input  type="email" [(ngModel)]="Mail" name="Mail" ></ion-input>
						    </ion-item>
						    <ion-item > 
						      <ion-label color="tertiary" position="floating">Adresse postale  </ion-label>
						      <ion-input  type="text" [(ngModel)]="Adresse_postal" name="Adresse_postal"></ion-input>
						    </ion-item>
						
        		 		
  		
        			</ion-slide>

        			<ion-slide *ngIf="ProOuPas">
          <!--img src="./slide-3.png"/-->
          <ion-img src="../../assets/icon/Fond_ecran.jpg"></ion-img>	

          
			    <ion-item > 
				      <ion-label color="tertiary" position="floating">Theme du compte </ion-label>
				       <ion-select ok-text="Okay" [(ngModel)]="Theme" name="Theme">
				            <ion-select-option value="M">Sexualité en général</ion-select-option>
				            <ion-select-option value="F">Hétéro-Sexualité</ion-select-option>
				            <ion-select-option value="B">Homo-Sexualité</ion-select-option>
				            <ion-select-option value="N">Bi-Sexualité</ion-select-option>
				            
				       </ion-select>
   				 </ion-item>
			    <ion-item > 
			      <ion-label color="tertiary" position="floating">Numero d'identification </ion-label>
			      <ion-input  type="number" [(ngModel)]="Numero_Identification_legal" name="Numero_Identification_legal"></ion-input>
			    </ion-item>
			   
  		
          <p>Le <b>Numero d'identification </b>correspond au numero de votre pièce d'identité national. Ce dernier nous permet d'assuré aux utilisateurs que vous êtes légalement en mesure d'enseigné vos connaissance.</p>
         

        </ion-slide>
        

        <ion-slide *ngIf="SiMajeur">
	          <!--img src="./slide-3.png"/-->
	          <!--ion-img src="../../assets/icon/Fond_ecran.jpg"></ion-img-->	

	          <p>D'après votre <b>age</b>,Vous êtes majeur. Vous avez donc deux possibilités :</p>


            <ion-card mode='ios'>
							  <ion-card-header>
							    <ion-card-title>Tous contenu sauf -18</ion-card-title>
							  </ion-card-header>

							  <ion-card-content>
							    <b>Accès au contenu accessible à tous et pas d'accès au contenu déconseillé au mineur (sachant que vous êtes majeur)</b>
							    <br>
							    <ion-checkbox color="primary" mode='ios' (ionChange)="fonction()"
							     *ngIf='this.displayOrNot_1'></ion-checkbox>
							  </ion-card-content>
							  
						</ion-card>

						<ion-card mode='ios'>
							  <ion-card-header>
							    <ion-card-title>Tous contenu</ion-card-title>
							  </ion-card-header>

							  <ion-card-content>
							    <b>Accès au contenu accessible à tous et au contenu pour adulte (une procédure de vérification d'identité vous sera demandé)</b>
							    <br>
							    <ion-checkbox color="primary" made='ios' (ionChange)="fonction_2()" *ngIf='this.displayOrNot_2'></ion-checkbox>
							  </ion-card-content>
							  
						</ion-card>
		
        </ion-slide>



       
        <ion-slide>
			          <ion-img src="../../assets/icon/Fond_ecran.jpg"></ion-img>	

			         
						    
						    <ion-item > 
						      <ion-label color="tertiary" position="floating">Votre Mot de passe </ion-label>
						      <ion-input  type="password" [(ngModel)]="Mot_de_passe" name="Mot_de_passe"></ion-input>
						    </ion-item>
						    
						    <ion-item >
					            <ion-label>J'accepte les conditions d'utilisation</ion-label>
					            <ion-checkbox color="primary" checked slot="start" mode='ios' (ionChange)="accordConditionUtilisation()"></ion-checkbox>
			          </ion-item>
						   
			  				 <h2>Ready to Play?</h2>
			        		  <ion-button fill="clear"  expand="block" shape="round" (click)="verificationAvantCreationCompte()" mode="ios">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
			          

        </ion-slide>

            	
            </ion-slides>
			    


    			
			    

           

    
      
    </ion-content>


  </ion-app>


</ion-content>
