<ion-header>
  <ion-toolbar>
    <ion-title>Discussion-Publication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="stream" *ngIf='siConnecte'>
  
    <!--ion-item lines="none" *ngFor="let message of this.compteService.Tab_Message">
      <p>{{ message.Text }}</p>
    </ion-item-->

    <ion-item lines="none" *ngFor="let message of this.compteService.Ensemble_des_Discussions[this.indexDesMessagesDansDiscussion].contenu_discussion;let indexOfelement=index;">
    <ion-badge text-wrap slot="start" color="light" *ngIf="message.id_compte_auteur_du_message != monId"  >{{ message.Text }}  </ion-badge>
    <ion-badge text-wrap slot="end" color="primary" *ngIf="message.id_compte_auteur_du_message == monId">{{ message.Text }}</ion-badge>
  </ion-item>
  
  </div>

</ion-content>


<ion-footer *ngIf='siConnecte'>

  <ion-grid>
    <ion-row>
      <ion-col size="10" class="input-col">
        <ion-input autocomplete="true" spellcheck="true" [(ngModel)]="messageText" type="text" placeholder="Entrez votre message"></ion-input>
      </ion-col>
      <ion-col size="2" class="send-col">
        <ion-button shape="full" (click)="sendMessage()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-footer>
 